.homePageContainer {
    overflow-y: scroll;
    margin-bottom: 100px;
}

.homePageContainer p {
    font-size: 18px;
}

.bannerImg {
    width: 100%;
    height: auto;
}

.homeH1 {
    text-align: left;
    padding-left: 5vw;
    padding-top: 5vh;
    font-size: 52px;
}

.homeH2 {
    padding-top: 0;
    padding-left: 5vw;
    padding-bottom: 5vh;
    text-align: left;
    font-size: 38px;
}

.homeInfoContainer {
    padding-top: 50px;
    display: flex;
}

.HowCanYouHelp {
    max-width: 35vw;
}

.HowCanYouHelp h3 {
    font-size: 30px;
}

.HowAreWeTacklingCovid {
    max-width: 35vw;
    margin: 0 10vw;
}

.HowAreWeTacklingCovid h3 {
    font-size: 30px;
}

.VenueTrackingContainer {
    padding-top: 20vh;
    padding-left: 10vw;
}

.VenueTrackingContainer h3 {
    font-size: 42px;
}
