.homePageContainer {
    overflow-y: scroll;
    margin-bottom: 100px;
}

.homePageContainer p {
    font-size: 18px;
}

.bannerImg {
    width: 100%;
    height: auto;
}

.homeH1 {
    text-align: left;
    padding-left: 5vw;
    padding-top: 5vh;
    font-size: 52px;
}

.homeH2 {
    padding-top: 0;
    padding-left: 5vw;
    padding-bottom: 5vh;
    text-align: left;
    font-size: 38px;
}

.homeInfoContainer {
    padding-top: 50px;
    display: flex;
}

.HowCanYouHelp {
    max-width: 35vw;
}

.HowCanYouHelp h3 {
    font-size: 30px;
}

.HowAreWeTacklingCovid {
    max-width: 35vw;
    margin: 0 10vw;
}

.HowAreWeTacklingCovid h3 {
    font-size: 30px;
}

.VenueTrackingContainer {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 25vw;
}

.VenueTrackingContainerGrey {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 25vw;
    background-color: #f0f4f5;
}

.VenueTrackingContainer h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.VenueTrackingContainerGrey h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.arrow {
    width: 30px;
    height: 30px;
}

.homeLinkDiv {
    margin-top: 20px;

}

.homeLink {
    font-size: 30px;
    margin-left: 30px;
    color: #005EB8;
}