.MessageBox {
    max-width: 70vw;
    margin-top: 100px;
    margin-left: 25vw;
    max-height: 50vh;
    overflow-y: auto;
}

.ownMessage {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    color: #FFF;
    background-color: #005EB8;
    max-width: 600px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    margin: 15px 0;
    word-break: break-all;
    direction: ltr;
    max-width: 25vw;
    margin-left: 40vw;
}

.response {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    color: #000;
    background-color: #eceded;
    max-width: 600px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    margin: 15px 0;
    word-break: break-all;
    direction: ltr;
    max-width: 25vw;
}

.userChatbox {
    display: flex;
    flex-direction: row;
}

.userChatbox .inputLogin {
    margin: 0;
    width: 5vw;
}

.userChatbox .inputText {
    width: 45vw;
}

form {
    position: absolute;
    top: 80vh;
    right: 5%
}

.isTypingMessage {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    color: #000;
    background-color: #eceded;
    max-width: 600px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    margin: 15px 0;
    word-break: break-all;
    direction: ltr;
    max-width: 25vw;
    margin-left: 25vw;
}