header {
    background-color:#005EB8;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 2rem;
}

img {
    width: 180px;
    height: 100px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh 20vw;
}

.inputLogin {
    height: 50px;
    width: 25%;
    background-color: #005EB8;
    color: white;
    text-decoration: underline;
}

.link {
    padding: 50px 20px 2px 20px;
    color: black;
    
}